.idea
coverage.out
build

# generated apidocs
docs/apidocs/build
docs/apidocs/includes
docs/apidocs/site

# ignore these files 1 by 1 so we can not ignore the stylesheet override
docs/apidocs/static/FontAwesome.otf
docs/apidocs/static/bootstrap-3.3.7.min.js
docs/apidocs/static/bootstrap.min.css
docs/apidocs/static/font-awesome.min.css
docs/apidocs/static/fontawesome-webfont.eot
docs/apidocs/static/fontawesome-webfont.svg
docs/apidocs/static/fontawesome-webfont.ttf
docs/apidocs/static/fontawesome-webfont.woff
docs/apidocs/static/fontawesome-webfont.woff2
docs/apidocs/static/jquery-3.2.1.min.js
docs/apidocs/static/jquery.scrollTo.min.js
docs/apidocs/static/scroll.js
